@font-face {
    font-family: 'Picon';
    src: url(LCTPicon-Regular.ttf) format('ttf'),
         url(LCTPicon-Regular.woff2) format('woff2');
    font-weight: normal;
    font-style: normal;
    text-rendering: optimizeLegibility;
    font-display: swap;
}

@font-face {
    font-family: 'Picon';
    src: url(LCTPicon-Bold.ttf) format('ttf'),
    url(LCTPicon-Bold.woff2) format('woff2');
    font-weight: bold;
    font-style: normal;
    text-rendering: optimizeLegibility;
    font-display: swap;
}

@font-face {
    font-family: 'Picon';
    src: url(LCTPicon-Medium.ttf) format('ttf'),
    url(LCTPicon-Medium.woff2) format('woff2');
    font-weight: 500;
    font-style: normal;
    text-rendering: optimizeLegibility;
    font-display: swap;
}
